node_modules
dist
out
.DS_Store
.eslintcache
*.log*

# Environment variables
.env
.env.local

# Database files
.kel/

# local
local/

# Bundled models (do not commit large binary files)
# Bundled models (do not commit large binary files)
resources/models/
data.db
python/__pycache__/
